* {
    font-family: Helvetica;
}

html {background: #051821}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
}

#game-container {
    background: #051821;
    color: #266867;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-input {
    background: #0a3142;
    color: #f58800;
    margin: 10px;
    border: 0px;
}

::placeholder {
    color: #f587008c;
}



#high-score-dialog {
    width: 225px;
    font-size: 14px;
    background: #051821;
    color: #f58800;
    border: 1px solid #266867;
    border-radius: 8px;
    position: absolute;
    top: 15%;
    text-align: center;

}

#canvas-section {
    position: relative;
}

#game-canvas {
    border-radius: 25px;
    height: 100%;
    width: 100%;
    max-height: 500px;
    max-width: 750px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h3, h4 {
        color: #f58800;
        margin: 10% 0 5% 0;
}


/* Developer Card Styles ----------------------------------------------------------------------- */
#dev-card-container {
    box-sizing: border-box;
    background: #1A4645;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
    font-weight: bold;
    color: #f58800;
    min-height: 20px;
    height: 5vh;
    font-size: 2vh;
    transition: height 0.5s;
    overflow-y: hidden;
}

.developer-card {
    display: none;
    height: 10px;
    transition: 1s;
    padding: 5px;
    padding-left: 2%;
    padding-right: 2%;
}

#dev-card-container:hover .developer-card {
    display: block;
    height: 100%;
}

#dev-card-container:hover {
    height: 22vh;
    content: none;
}

.pulse {
    animation-duration: 0.75s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* transition: 1s; */
}

@keyframes pulse {
    from {
        transform: scale(1.00, 1.00);
    }

    to {
        transform: scale(1.05, 1.05);
    }
}





/* Header Styles---------------------------------------------------------------------- */
.header-logo {
    height: 60px;
    width: 60px;
}

.contact-link {
    font-size: 36px;
    padding: 5px 10px 5px 10px;
    color: #1A6665;
    transition: 0.3s;
}

.contact-link:hover {
    padding: 5px 10px 5px 10px;
    color: #BB7C00;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    background:#051821;
    color: #1A4645;
}


/* Settings Styles -------------------------------------------------------------------- */
.settings {
    color: #FBBC24;
    margin-left: 15px;
}

.settings > div, .settings > div > form input {
    margin-left: 15px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.settings > div, .settings > div > #speedometer {
    margin-left: 15px;
    margin-bottom: 10px;
}

.speed-button, .display-button, .high-score-button {
    background-color: #1A4645;
    border-width: 0;
    width: 80px;
    margin: 5px;
    color: inherit;
    cursor: pointer;
    border-radius: 5px;
}

.control-button, .sound-button {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    transition: 0.1s;
    background-color: transparent;
    color:#9B5C00;
    font-size: 20px;
    cursor: pointer;
}




.speed-button:disabled, .display-button:disabled, .control-button:disabled, .high-score-button:disabled {
    background-color: #053030;
    color: #BB7C00;
}

.control-button:disabled, .sound-button:disabled {
    background-color: #BB7C00;
    color: #053030;
    border: 1px;
}

#speedometer {
    
    width: 70px;
    text-align: center;
    padding: 3px;
    padding-left: 7px;
    background: #BB7C00;
    color: #1A6665;
    border-radius: 5px;
    font-size: 12px;
    font-family: Helvetica;
}

/* High Scores styling -------------------------------------------------------------- */

#high-scores-list li::marker {
    color: #1A6665;
    font-weight: 900;
}

#high-scores-title {
    font-weight: bold;
}
#high-scores-list li {
    color:#BB7C00;
    line-height: 1.5em;
    font-weight: 700;
    counter-increment: rank;
}

#high-score-selector {
    background-color: #1A4645;
    border-width: 0;
    width: 95px;
    color: #BB7C00;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 700;
}


.clear-button, .high-score-swap-button {
    background-color: #1A4645;
    border-width: 0;
    width: 95px;
    height: 40px;
    color: #BB7C00;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 700;
}

.high-score-swap-button {
    margin-left: 20px;
}

.confirm-button {
    color: #053030;
    background-color: #BB7C00;
    width: 95px;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 700;
}

/* Instructions ------------------------------------------------------------ */
.instructions {
    border: 2px solid #BB7C00;
    border-radius: 8px;
    padding: 10px;
    max-width: 250px;
    max-height: 250px;
    margin-top: 10px;
    font-size: 11px;
}