* {
    font-family: Helvetica;
}

::-webkit-scrollbar {
    background-color: #053030;
    width: 1vw;
}

::-webkit-scrollbar-thumb {
    background-color: #9B5C00;
    border-radius: 10px;
}

html {background: #051821}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
}

#game-container {
    background: #051821;
    color: #266867;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-input {
    background: #0a3142;
    color: #f58800;
    margin: 10px;
    border: 0px;
}

::placeholder {
    color: #f587008c;
}



#high-score-dialog {
    width: 225px;
    font-size: 14px;
    background: #051821;
    color: #f58800;
    border: 1px solid #266867;
    border-radius: 8px;
    position: absolute;
    top: 15%;
    text-align: center;

}

#canvas-section {
    position: relative;
}

#game-canvas {
    border-radius: 25px;
    max-height: 500px;
    /* max-width: 45vw; */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h3, h4 {
        color: #f58800;
        margin: 10% 0 5% 0;
}


/* Developer Card Styles ----------------------------------------------------------------------- */
#dev-card-container {
    box-sizing: border-box;
    background: #1A4645;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
    color: #f58800;
    min-height: 20px;
    height: 5vh;
    font-size: 2vh;
    transition: 0.5s ease-in-out;
    overflow-y: hidden;
}

#dev-card-container .pulse {
    line-height: 0;
}

.developer-card img {
    margin: 10px;
    border-radius: 10px;
    height: 150px;
}

.developer-card {
    display: none;
    height: 10px;
    transition: 1s;
    padding-left: 2%;
    padding-right: 2%;
}

.developer-card a {
    cursor: pointer;
}

/* #dev-card-container:hover .developer-card {
    display: flex;
    justify-content: space-around;
    height: 100%;
} */

/* #dev-card-container:hover {
    height: 30vh;
    content: none;
} */

.pulse {
    animation-duration: 0.75s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#email {
    font-weight: bold;
}

@keyframes pulse {
    from {
        transform: scale(1.00, 1.00);
    }

    to {
        transform: scale(1.05, 1.05);
    }
}





/* Header Styles---------------------------------------------------------------------- */
.header-logo {
    height: 60px;
    width: 60px;
}

.contact-link {
    font-size: 36px;
    padding: 5px 10px 5px 10px;
    color: #1A6665;
    transition: 0.3s;
}

.contact-link:hover {
    padding: 5px 10px 5px 10px;
    color: #BB7C00;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    background:#051821;
    color: #1A4645;
}

@media (max-width: 1050px){
    .header-logo{
        height: 30px;
        width: 30px;
    }

    .contact-link {
        font-size: 24px
    }

    header h1 {
        font-size: 20px;
        height: 40px;
    }
}


/* Settings Styles -------------------------------------------------------------------- */
#portrait-block {
    display: none;
    z-index: 3;
    background-color: #053030;
    padding-top: 100px;
    padding-left: 10px;
    color: #BB7C00

}
@media screen and (orientation: portrait) and (width <= 1000px){
    #portrait-block{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
}
@media (width <= 1050px) {
    #game-container {
        justify-content: space-around;
    }
    .settings, .right-container {
        height: 50px;
        width: 75px;
        margin: 20px;
        overflow: hidden;
        content: none;
        transition: all 0.2s;
        /* border: 2px solid #9B5C00; */
        background-color: #1A4645;
        border-radius: 12px;
        padding: 0 5px 2px 5px;
    }
    .settings div, .right-container div {
        display: none
    }
    .settings:hover, .right-container:hover {
        height: unset;
        width: 180px;
        overflow: visible;
        border: none;
        padding: none;
        background-color: transparent;
    }
    .settings:hover div, .right-container:hover div {
        display: block;
    }

}


.settings {
    color: #FBBC24;
    margin-left: 15px;
}

.settings > div, .settings > div > form input {
    margin-left: 15px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.settings > div, .settings > div > #speedometer {
    margin-left: 15px;
    margin-bottom: 10px;
}

.speed-button, .display-button, .high-score-button {
    background-color: #1A4645;
    border-width: 0;
    width: 80px;
    margin: 5px;
    color: inherit;
    cursor: pointer;
    border-radius: 5px;
}

.control-button, .sound-button {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    transition: 0.1s;
    background-color: transparent;
    color:#9B5C00;
    font-size: 20px;
    cursor: pointer;
}




.speed-button:disabled, .display-button:disabled, .control-button:disabled, .high-score-button:disabled {
    background-color: #053030;
    color: #BB7C00;
}

.control-button:disabled, .sound-button:disabled {
    background-color: #BB7C00;
    color: #053030;
    border: 1px;
}

#speedometer {
    
    width: 70px;
    text-align: center;
    padding: 3px;
    padding-left: 7px;
    background: #BB7C00;
    color: #1A6665;
    border-radius: 5px;
    font-size: 12px;
    font-family: Helvetica;
}

/* High Scores styling -------------------------------------------------------------- */

#high-scores-list li::marker {
    color: #1A6665;
    font-weight: 900;
}

#high-scores-title {
    font-weight: bold;
}
#high-scores-list li {
    color:#BB7C00;
    line-height: 1.5em;
    font-weight: 700;
    counter-increment: rank;
}

#high-score-selector {
    background-color: #1A4645;
    border-width: 0;
    width: 95px;
    color: #BB7C00;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 700;
}


.clear-button, .high-score-swap-button {
    background-color: #1A4645;
    border-width: 0;
    width: 95px;
    height: 40px;
    color: #BB7C00;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 700;
}

.high-score-swap-button {
    margin-left: 20px;
}

.confirm-button {
    color: #053030;
    background-color: #BB7C00;
    width: 95px;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 700;
}

/* Instructions ------------------------------------------------------------ */
.instructions {
    border: 2px solid #BB7C00;
    border-radius: 8px;
    padding: 8px;
    padding-top: 5px;
    height: 40px;
    max-width: 250px;
    max-height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    overflow-y: hidden;
    transition: 0.5s;
}

#expand-instructions {
    background-color: transparent;
    border-width: 0;
    color: #BB7C00;
    cursor: pointer;
    font-weight: 700;
}

#expand-instructions {
    font-size: 11px;
    margin-left: 10px;
}

#expand-instructions:hover {
    text-decoration: underline;
}

#instructions-heading {
    display: inline-block;
    margin-bottom: 0px;
}